ion-item .img-container, ion-item .text-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

ion-item .text-container .title-container, ion-item .text-container .details-container {
    height: 52%;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-item .text-container .details-container {
    height: 48%;
}

ion-item .text-container .title-container h6 {
    font-size: 0.67em;
}

ion-item .text-container .details-container p {
    font-size: 10px;
}

.item-modal-img-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
}

.item-modal-text-container {
    width: 100%;
    height: 100%;
}

.item-modal-text-container h1 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.item-modal-text-container h2 {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: green;
}

.item-modal-text-container p {
    margin-left: 20px;
    font-size: 16px;
}

.item-modal-text-container p .brand {
    color: gray
}

.item-modal-button-container, .build-item-modal-button-container {
    width: 100%;
    height: 12%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.item-modal-button-container .add-to-cart-button {
    height: 80%;
    width: 42.5%;
    margin-right: 5%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    white-space: normal;
}

.item-modal-button-container .buy-on-amazon-button {
    height: 80%;
    width: 42.5%;
    margin-right: 2.5%;
    margin-left: 5%;
    margin-bottom: 2.5%;
    white-space: normal;
}

.build-item-modal-button-container .add-to-cart-button {
    height: 80%;
    width: 25%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    white-space: normal;
}

.build-item-modal-button-container .buy-on-amazon-button {
    height: 80%;
    width: 25%;
    margin-right: 2.5%;
    margin-left: 5%;
    margin-bottom: 2.5%;
    white-space: normal;
}

.build-item-modal-button-container .add-to-build-button {
    height: 80%;
    width: 25%;
    margin-right: 5%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    white-space: normal;
}